.advantages__slogan {
  margin: 0;
  padding: 0 24px;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.advantages__intro {
  display: block;
  padding: 0 24px;
  font-size: 14px;
  color: $description-text;
  text-transform: uppercase;
  text-align: center;
}

.advantages__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.advantages__item--big {
  @media (max-width: calc($max-phone)) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__container {
  padding: 33px 18px 40px;
  background-color: $common-style;
}

.advantages__container--decorated {
  @media (max-width: calc($tablet-width - 1px)) {
    padding-top: 37px;
    background-image: url("../../img/index/advantages-triangles.svg");
    background-repeat: no-repeat;
    background-position: 50% 0;
  }
}

.advantages__headline {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: $page-background;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.advantages__headline--environment {
  color: $main-text;
}

.advantages__number {
  font-size: 14px;
  color: $page-background;
}

.advantages__number--environment {
  color: $description-text;
}

.advantages__description {
  margin: 0;
  text-transform: uppercase;
  color: $page-background;
  font-size: 14px;
}

.advantages__description--environment {
  color: $description-text;
}

.advantages__item--environment {
  display: block;
  position: relative;
  padding: 24px 0 25px;
  background-color: $list-background;
}

.advantages__item--environment:not(:last-child)::before {
  content: "";
  position: absolute;
  width: calc(100% - 36px);
  height: 1px;
  background-color: $decorate-color-secondary;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    display: none;
  }
}
