.booking__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 38px 18px 49px;
}

.booking__headline {
  margin: 0;
  margin-bottom: 26px;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.booking__text {
  text-align: center;
  margin: 0;
  margin-bottom: 32px;
  color: $description-text;
}

.booking__map-container {
  width: 100%;
}

.booking__map {
  width: 100%;
}

.booking__button {
  width: 100%;
  max-width: 458px;
}
