.catalog-photo__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.catalog-photo__item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.catalog-photo__item--big {
  grid-column: 1/-1;
}

.catalog-photo__bottom-container {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: $input-background;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgba($main-text, 0.3);
  }
}

.catalog-photo__bottom-container--secondary {
  @media (min-width: $tablet-width) {
    background-color: $photo-sign-secondary;
  }

  @media (min-width: $desktop-width) {
    background-color: rgba($main-text, 0.3);
  }
}

.catalog-photo__description-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    color: $page-background;
  }
}

.catalog-photo__title {
  font-size: 14px;
  text-transform: uppercase;
}

.catalog-photo__author {
  font-size: 14px;
  color: $description-text;

  @media (min-width: $desktop-width) {
    color: inherit;
  }
}

.catalog-photo__like-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.catalog-photo__like-button path {
  @media (min-width: $desktop-width) {
    fill: $page-background;
  }
}

.catalog-photo__like-quantity {
  font-weight: 700;
  font-size: 14px;

  @media (min-width: $desktop-width) {
    color: $page-background;
  }
}
