.catalog__header-container {
  padding: 0 20px;
  padding-top: 37px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding: 0 155px;
    padding-top: 66px;
    padding-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 370px 75px;
  }
}

.catalog__headline {
  margin: 0;
  margin-top: 37px;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.catalog__intro-text {
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 446px;
    margin-top: 32px;
  }
}

.catalog__photo {
  @media (min-width: $tablet-width) {
    margin: 0 60px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}
