.copyright__text {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: $main-text;
  transition-duration: 0.3s;

  &:hover,
  &:focus {
    color: $common-style;
    border: none;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }
}
