.form__container {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 24px 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.form__fieldset::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: $decorate-color;
  top: 0;

  @media (min-width: $tablet-width) {
    height: 100%;
    width: 1px;
  }
}

.form__fieldset:nth-child(odd)::before {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.form__title {
  margin: 0;
  padding: 0;
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.form__label {
  font-size: 14px;
  color: $description-text;
  text-transform: uppercase;
}

.form__input {
  padding: 16px;
  border: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background-color: $input-background;
}

.form__input::placeholder {
  color: rgba($main-text, 0.3);
}

.form__check-label {
  font-weight: 700;
  line-height: 26px;
}

.form__emotions-description {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  max-width: 768px;
  padding: 16px;
  border: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background-color: $input-background;
  resize: none;
}

.form__emotions-description::placeholder {
  color: rgba($main-text, 0.3);
}

.form__send-container {
  max-width: 768px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    flex-direction: row;
  }
}

.form__legend {
  font-size: 12px;
  text-transform: uppercase;
  color: rgba($description-text, 0.6);
}
