.form {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  @media (min-width: $desktop-width) {
    gap: 71px;
  }
}

.form__container {
  @media (min-width: $tablet-width) {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.form__fieldset {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;

  @media (max-width: $max-phone) {
    align-items: center;
    padding: 24px 20px;
  }

  @media (min-width: $tablet-width) {
    flex-wrap: wrap;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    gap: 28px;
  }

  &--emotions {
    padding-bottom: 57px;
  }
}

.form__fieldset::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: $decorate-color;
  top: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.form__fieldset:nth-child(odd)::before {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.form__fieldset--contacts {
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 28px;
    border-left: 1px solid $decorate-color;
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    padding-left: 50px;
  }
}

.form__fieldset--name {
  @media (min-width: $tablet-width) {
    padding-right: 28px;
  }
}

.form__fieldset--impression {
  @media (min-width: $tablet-width) {
    padding-top: 35px;
  }
}

.form__fieldset--sightseeing {
  @media (min-width: $tablet-width) {
    padding-top: 35px;
    gap: 32px;
  }

  @media (min-width: $desktop-width) {
    gap: 64px;
  }
}

.form__fieldset--impression,
.form__fieldset--sightseeing {
  @media (max-width: $max-phone) {
    align-items: flex-start;
    padding-bottom: 12px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.form__title {
  position: relative;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin-bottom: 28px;
  }
}

.form__title--decorated > br {
  @media (max-width: $max-phone) {
    display: none;
  }
}

.form__title--decorated::before,
.form__title--decorated::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #dbdbdb;
  top: 50%;
  left: 0;

  @media (min-width: $tablet-width) {
    width: 19%;
  }

  @media (min-width: $desktop-width) {
    width: 29%;
  }
}

.form__title--decorated::after {
  left: auto;
  right: 0;
}

.form__label {
  width: 100%;
  max-width: 430px;
  font-size: 14px;
  color: $description-text;
  text-transform: uppercase;
}

.form__title-text {
  margin: 0 auto;
  display: block;
  max-width: 360px;
}

.form__label--phone,
.form__label--mail {
  position: relative;
}

.form__label--phone::before,
.form__label--mail::before {
  content: "";
  position: absolute;
  bottom: 16px;
  right: 0;
  width: 58px;
  height: 58px;
  background-color: $decorate-color-label;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.form__label--phone::before {
  background-image: url("../../img/form/phone-icon.svg");
}

.form__label--mail::before {
  background-image: url("../../img/form/mail-icon.svg");
}

.form__label-text {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding-left: 16px;
}

.form__input {
  box-sizing: border-box;
  width: 100%;
  height: 58px;
  margin-bottom: 16px;
  padding: 16px;
  border: 4px solid $input-background;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background-color: $input-background;
  transition-duration: 0.3s;
  appearance: textfield;

  &:hover {
    background-color: $decorate-color;
    border-color: $decorate-color;
  }

  &:focus {
    background-color: $page-background;
    outline: none;
  }
}

.form__input--pictured {
  padding-left: 12px;
  padding-right: 68px;
}

.form__input::placeholder {
  color: rgba($main-text, 0.3);
}

.form__check-label {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 8px;
  min-height: 46px;
  font-weight: 700;
  line-height: 26px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding-left: 36px;
    width: 280px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.form__check-label--checkbox {
  @media (max-width: $max-phone) {
    margin-bottom: 9px;
  }

  @media (min-width: $tablet-width) {
    width: 224px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    max-width: 200px;
  }
}

.form__check-label--radio:nth-child(odd) {
  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-right: 36px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.form__check-label--radio:nth-of-type(3n+1) {
  @media (min-width: $desktop-width) {
    padding-left: 53px;
  }
}

.form__check-label--checkbox:nth-of-type(odd) {
  @media (min-width: $tablet-width) {
    padding-left: 84px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.form__check-label--checkbox:nth-of-type(4n+1) {
  @media (min-width: $desktop-width) {
    padding-left: 53px;
  }
}

.form__check-label:hover .form__check-area path,
.form__check-label:hover .form__check-area rect,
.form__check-label:focus-within .form__check-area rect {
  fill: $decorate-color;
  transition-duration: 0.3s;
}

.form__control-container:focus {
  padding: 100px;
}

.form__questionnaire:focus ~ .form__check-area path,
.form__questionnaire:focus ~ .form__check-area rect {
  fill: $decorate-color;
  transition-duration: 0.3s;
}

.form__check-label:active .form__check-area path,
.form__check-label:active .form__check-area rect {
  fill: $down-item-color;
  transition-duration: 0.3s;
}

.form__check-label:active .form__checkbox-icon path {
  fill-opacity: 0.3;
}

.form__emotions-description {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  max-width: 768px;
  padding: 11px;
  padding-bottom: 25px;
  border: 4px solid $input-background;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background-color: $input-background;
  resize: none;

  &:hover {
    background-color: $decorate-color;
    border-color: $decorate-color;
  }

  &:focus {
    background-color: $page-background;
    outline: none;
  }
}

.form__emotions-description::placeholder {
  color: rgba($main-text, 0.3);
}

.form__send-container {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  margin-bottom: 22px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    margin-bottom: 64px;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
}

.form__legend {
  margin-left: auto;
  margin-top: 2px;
  font-size: 12px;
  text-transform: uppercase;
  color: rgba($description-text, 0.6);
}

.form__control-container {
  position: relative;
}

.form__control-container--radio::before {
  display: none;
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: $description-text;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
}

.form__questionnaire:checked ~ .form__control-container--radio::before {
  display: block;
}

.form__checkbox-icon {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
}

.form__questionnaire:checked ~ .form__control-container--checkbox .form__checkbox-icon {
  display: block;
}

.form__button {
  @media (max-width: $max-phone) {
    max-width: 324px;
    margin: 0 20px;
  }

  @media (min-width: $tablet-width) {
    width: 324px;
  }

  @media (min-width: $desktop-width) {
    width: 384px;
  }
}
