.hero-block {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  background-image: url("../../img/hero-background.jpg");
  background-repeat: no-repeat;
}

.hero-block__image {
  display: block;
  margin: 0 auto;
  margin-top: 90px;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    margin-top: 77px;
  }
}

.hero-block__image--secondary {
  @media (min-width: $tablet-width) {
    margin-top: 95px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 100px;
    margin-bottom: 65px;
  }
}

.hero-block__triangles {
  display: block;
  width: 100%;
  min-height: 57px;
  margin-top: auto;
  background-image: url("../../img/hero-triangles.svg");
  background-repeat: no-repeat;
  background-position: center;
}
