.hero-block {
  width: 100%;
  background-image: url("../../img/hero-background.jpg");
  background-repeat: no-repeat;
}

.hero-block__image {
  display: block;
  margin: 0 auto;
}

.hero-block__triangles {
  display: block;
  width: 100%;
  min-height: 57px;
  margin-top: auto;
  background-image: url("../../img/hero-triangles.svg");
  background-repeat: no-repeat;
  background-position: center;
}
