.main-navigation {
  position: relative;
  width: 100%;
  min-height: 56px;
}

.main-navigation__wrapper {
  width: 100%;
  margin: 0 auto;

  @media (max-width: $max-phone) {
    background-color: $common-style;
  }
}

.main-navigation__toggle {
  display: none;
  transition-duration: 0.3s;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (max-width: $max-phone) {
    position: absolute;
    box-sizing: border-box;
    width: 22px;
    height: 22px;
    top: 17px;
    right: 20px;
    display: block;
    margin-left: auto;
    padding: 0;
    background-color: transparent;
    background-position: 50% 50%;
    border: none;
    cursor: pointer;
  }
}

.main-navigation--closed .main-navigation__toggle {
  background-image: url("../../img/burger-closed.svg");
}

.main-navigation--opened .main-navigation__toggle {
  background-image: url("../../img/burger-opened.svg");
  z-index: 1;
}

.main-navigation--nojs .main-navigation__toggle {
  display: none;
}

.main-navigation--nojs .main-header__logo {
  position: relative;
  display: flex;
}

@media (max-width: $max-phone) {
  .main-navigation--closed .main-navigation__wrapper {
    display: none;
  }

  .main-navigation--opened .main-navigation__wrapper {
    position: absolute;
    top: 0;
    display: block;
  }
}

.main-navigation__list {
  @include list-reset;
  width: 100%;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    width: 100%;
    min-width: 768px;
    max-width: 1200;
    flex-direction: row;
  }
}

.main-navigation__item {
  @media (min-width: $tablet-width) {
    width: 20%;
  }
}

.main-navigation__item:nth-child(4n+3) {
  @media (min-width: $tablet-width) {
    margin: 0 0 0 20%;
  }
}

.main-navigation__link {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 55px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: $page-background;
  text-decoration: none;
  transition-duration: 0.3s;

  @media (max-width: $max-phone) {
    padding: 0 50px;

    &:hover,
    &:focus {
      background-color: $button-hover;
      border: none;
      outline: none;
    }

    &:active {
      color: rgba($page-background, 0.3);
      background-color: $button-active;
    }

    &:disabled {
      background-color: $decorate-color;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 21px;
    color: $main-text;
    background-color: $page-background;

    &:hover,
    &:focus {
      color: $common-style;
      border: none;
      outline: none;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.main-navigation__link--current {
  @media (min-width: $tablet-width) {
    color: $current-page;
  }
}

.main-navigation__item:not(:first-child) {
  @media (max-width: $max-phone) {
    box-shadow: 0 -1px 0 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  }
}

.main-navigation__item:last-child {
  @media (max-width: $max-phone) {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 87.3%, rgba(0, 0, 0, 0.2) 100%);
  }
}

.main-navigation__link--first {
  box-shadow: none;
}

.main-navigation--nojs .main-navigation__wrapper {
  display: block;
}
