.main-header {
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.main-header__wrapper {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  background-color: $page-background;
}

.main-header__logo {
  position: absolute;
  min-width: 185px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  z-index: 1;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
  }
}

.main-header__logo--nojs {
  @media (max-width: $max-phone) {
    position: inherit;
  }
}
