.main-form__section {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 120px;
  }
}

.main-form__headline {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.main-form__intro-text {
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: $description-text;
}
