.main-form__headline {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.main-form__intro-text {
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: $description-text;
}
