.modal__window {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px 41px 35px;
}

.modal__window--error {
  max-width: 400px;
}

.modal__window--success {
  max-width: 600px;
}

.modal__title {
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.modal__text {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: $description-text;
}

.modal__button-area {
  padding: 20px;
  background-color: $input-background;
}
