$main-text: #000000;
$description-text: #333333;
$page-background: #ffffff;
$common-style: #81b3d2;
$list-background: #eeeeee;
$input-background: #f2f2f2;
$decorate-color: #e5e5e5;
$decorate-color-secondary: #d6d6d6;
$decorate-color-label: #e6e6e6;
$photo-sign-secondary: #eaeaea;
$tablet-width: 768px;
$max-phone: calc($tablet-width - 1px);
$desktop-width: 1200px;
$mobile-width-only: 767px;
$button-hover: #669ec0;
$button-active: #5496bd;
$current-page: #766357;
