$main-text: #000000;
$description-text: #333333;
$page-background: #ffffff;
$common-style: #81b3d2;
$list-background: #eeeeee;
$input-background: #f2f2f2;
$decorate-color: #e5e5e5;
$decorate-color-2: #d6d6d6;
